/* PARTE REFERENTE A FONTES EXTERNAS */

@font-face {
    font-family: 'fonte_intelo_light';
    src: url('fonts/intelo-light-webfont.woff2') format('woff2'),
         url('fonts/intelo-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fonte_intelo_light_bold';
    src: url('fonts/intelo-alt-bold.woff2') format('woff2'),
         url('fonts/intelo-alt-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fonte_intelo_medium';
    src: url('fonts/intelo-medium-webfont.woff2') format('woff2'),
         url('fonts/intelo-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fonte_exo_2_bold';
    src: url('fonts/Exo2-Bold.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;
}

/* PARTE REFERENTE AO CABEÇALHO */

* {
    background: #fafdff
}

.cabecalho { /*CONFIGURAÇÕES COMUNS DO CABEÇALHO*/
    width: 100vw;
    background: #fafdff;
    border: 0.5px solid #89cdfc;
    height: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cabecalho_logo { /*A IMAGEM LOGO NÉOS*/
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100%;
}

.cabecalho_logo a { /*A IMAGEM LOGO NÉOS*/
    height: inherit;
    display: flex;
    align-items: center;
}

.cabecalho .cabecalho_logo a #logo_neos { /*A IMAGEM LOGO NÉOS*/
    height: 30%;
}

.cabecalho_menus { /*AS OPÇÕES DE MENU*/
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
}

.cabecalho_menus a { /*AS OPÇÕES DE MENU*/
    height: inherit;
    display: flex;
    align-items: center;
}

.cabecalho_menus a img { /*AS OPÇÕES DE MENU*/
    height: 30%;
}

.menu_item { /*AS OPÇÕES DE MENU*/
    font-family: 'fonte_intelo_medium';
    margin: 0px 2% 0px 2%;
    color: #00274f;
    text-decoration: none;
}

/* PARTE REFERENTE AO TÍTULO DE CADA PÁGINA */

.titulo_pagina {
    font-family: 'fonte_intelo_light_bold';
    margin: 0% 0% 0% 0%; /*TENHO QUE AJEITAR AS MARGENS*/
    color: #00274f;
    text-decoration: none;
    width: 100vw;
    background: #f9fafc;
    height: 10vh;
    font-size: 200%;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    text-align: left;
}

/* PARTE REFERENTE AO RODAPÉ */

.rodape { /*CONFIGURAÇÕES COMUNS DO RODAPE*/
    width: 100vw;
    background: #fafdff;
    height: 15vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.rodape_informacoes { /*CONFIGURAÇÕES COMUNS DE TODAS AS INFORMAÇÕES*/
    width: 100vw;
    background: #fafdff;
    border-top: 0.5px solid #89cdfc;;
    height: 20vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.informacao { /*ONDE ESTÁ AS INFORMAÇÕES*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
    height: 100%;
    align-items: center;
    text-decoration: none;
} 

.titulo_informacoes { /*OS TITULOS DAS INFORMAÇÕES*/
    font-family: 'fonte_intelo_light_bold';
    margin: 0px 2% 0px 2%;
    color: #00274f;
    text-decoration: none;
    font-size: 130%
}

.sub_titulo_informacoes { /*OS SUB TITULOS DAS INFORMAÇÕES*/
    font-family: 'fonte_intelo_medium';
    margin: 0px 2% 0px 2%;
    color: #00274f;
    text-decoration: none;
    font-size: 100%
}

.informacao img { /*AS IMAGENS DE CONTATO DE INFORMAÇÕES*/
    height: 40%;
}

.rodape_midias {
    width: 100vw;
    background: #fafdff;
    height: 15vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.rodape_logo { /*A IMAGEM LOGO N*/
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100%;
    flex-direction: column;
}

.rodape_logo a { /*A IMAGEM LOGO N*/
    height: inherit;
    display: flex;
    align-items: center;
}

.rodape .rodape_logo a #logo_n { /*A IMAGEM LOGO N*/
    height: 80%;
}

.rodape_social_media { /*A IMAGENS DE REDES SOCIAIS*/
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

.rodape_social_media a { /*A IMAGENS DE REDES SOCIAIS*/
    height: inherit;
    display: flex;
    align-items: center;
}

.rodape_social_media a img { /*A IMAGENS DE REDES SOCIAIS*/
    height: 30%;
}

.rodape_todos_direitos p { /*A FRASE DE TODOS OS DIREITOS RESERVADOS*/
    font-family: 'fonte_intelo_medium';
    color: #6f6f87;
    font-size: 70%
}


/* pesquisar os tipos de display e ver como funciona, principalmente o flex */

/* 
.social_media_link -> seleciona uma classe
#logo_n -> seleciona um id
footer a -> seleciona todos os links dentro de footer
footer a img -> seleciona todas as imagens dentro de link dentro de footer
body footer .social_media_link img -> seleciona todas as imagens dentro da classe .social_media_link dentro de footer dentro de body
.rodape_principal a -> seleciona todos os links dentro da classe rodape_principal
 */