.sunweb{
    flex-direction: column;
    padding: 1%;
    height: 500px;
}

.sunweb_imagem_titulo_texto{
    display: flex;
    flex-direction: row;
}

.sunweb_imagem > img{
    width: 100%;
    height: 80%;
}

.sunweb_titulo_texto_botao{
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 0% 0% 0% 1%;
    width: 100%;
}

.sunweb_titulo{
    font-family: 'fonte_intelo_light_bold';
    color: #0075CD;
    font-size: 200%;
    align-content: center;
    height: 10%;
}

.sunweb_texto{
    font-family: 'fonte_intelo_light';
    color: #6F6F87;
    height: 80%;
    width: 50vw;
    font-size: 100%;
    align-content: center;
    flex-wrap: wrap;
    font-weight: 600;
}

.sunweb_botao{
    font-family: 'fonte_intelo_bold';
    background-color: #0075CD;
    border: none;
    font-size: 110%;
    color: #ffffff;
    border-radius: 3px;
    height: 140%;
    width: 33%;
    cursor: pointer;
}

.sunweb_botao:hover{
    background-color: #13346b;
    transition: .4s;
}